body, ul, li, p {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: Arial;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background: #1d1e20;
  padding: 20px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 200px;
  margin: 0 10px;
}

