html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #7159c1;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-areas: 
    "main header"
    "main aside"
    "footer footer"
  ;
}

header {
  background: yellow;
  grid-area: header;
}

main {
  background: blue;
  grid-area: main;
}

aside {
  background: green;
  grid-area: aside;
}

footer {
  background: red;
  grid-area: footer;
}
